<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web
  Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <!-- in servlet tag, associate servlet name used in web.xml with class name -->
  <servlet>
  <!-- ① Define servlet name used in web.xml -->
    <servlet-name>OutputServlet</servlet-name>
    <!-- ② Associate「①」with class name -->
    <servlet-class>com.ken.empDbManagementSys.servlet.OutputServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InputServlet</servlet-name>
    <servlet-class>com.ken.empDbManagementSys.servlet.InputServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateSelectServlet</servlet-name>
    <servlet-class>com.ken.empDbManagementSys.servlet.UpdateSelectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.ken.empDbManagementSys.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.ken.empDbManagementSys.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ken.empDbManagementSys.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.ken.empDbManagementSys.servlet.LogoutServlet</servlet-class>
  </servlet>
  <!-- in servlet-mapping tag, map servlet defined in servlet tag to url -->
  <servlet-mapping>
  <!-- ③ Name defined in 「①」-->
    <servlet-name>OutputServlet</servlet-name>
    <!-- ④ Map servlet defined in 「①」 to url -->
    <url-pattern>/OutputServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InputServlet</servlet-name>
    <url-pattern>/InputServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSelectServlet</servlet-name>
    <url-pattern>/UpdateSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>